---
pageable: true
per_page: 12
title: Tagged articles
---

<h2>Articles tagged '<%= tagname %>'</h2>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each do |article| %>
    <li>
      <span><%= article.date.strftime('%b %e') %></span>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
